{
    "swagger": "2.0",
    "info": {
        "version": "1.0",
        "title": "API Reference",
        "description": "The API Reference material consists of four sections:\n\n- **Lists.** For blacklists, whitelists, and watch lists. Not fully documented yet.\n- **Update.** For updating cart and order status\n- **Check.** For checking the fraud score of a cart or order.\n- **Models.** Descriptions of JSON request body data.",
        "contact": {
            "url": "https://support.fraud.net/"
        }
    },
    "host": "api-sandbox.c008-m008-us.fraud.net",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/v2/risk/transaction/bank": {
            "post": {
                "operationId": "check-transaction-bank",
                "summary": "Transaction Check",
                "tags": [
                    "Banking / Fintech"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Schema-risk-transaction-request-bank"
                        },
                        "description": " "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Request-results"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/trait:responseApi:401"
                    },
                    "403": {
                        "$ref": "#/responses/trait:responseApi:403"
                    },
                    "404": {
                        "$ref": "#/responses/trait:responseApi:404"
                    },
                    "406": {
                        "$ref": "#/responses/trait:responseApi:406"
                    },
                    "409": {
                        "$ref": "#/responses/trait:responseApi:409"
                    },
                    "500": {
                        "$ref": "#/responses/trait:responseApi:500"
                    },
                    "502": {
                        "description": "Bad Gateway"
                    },
                    "503": {
                        "$ref": "#/responses/trait:responseApi:503"
                    },
                    "504": {
                        "$ref": "#/responses/trait:responseApi:504"
                    }
                },
                "x-stoplight": {
                    "id": "395e4a8yfue3b",
                    "beforeScript": null,
                    "afterScript": null,
                    "public": true,
                    "mock": {
                        "enabled": false,
                        "dynamic": false,
                        "statusCode": 200
                    }
                },
                "description": "Sends information for a bank transaction and returns a risk score and group so that you can evaluate how to process this transaction.\n\n\n**Note:** The risk group definitions are set using the Fraud.net portal.",
                "security": [
                    {
                        "basic-auth": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "x-internal": false
            },
            "patch": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Base-update-result"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/trait:updateResponseApi:401"
                    },
                    "403": {
                        "$ref": "#/responses/trait:updateResponseApi:403"
                    },
                    "404": {
                        "$ref": "#/responses/trait:updateResponseApi:404"
                    },
                    "406": {
                        "$ref": "#/responses/trait:updateResponseApi:406"
                    },
                    "409": {
                        "$ref": "#/responses/trait:updateResponseApi:409"
                    },
                    "500": {
                        "$ref": "#/responses/trait:updateResponseApi:500"
                    },
                    "502": {
                        "description": "Bad Gateway"
                    },
                    "503": {
                        "$ref": "#/responses/trait:updateResponseApi:503"
                    },
                    "504": {
                        "$ref": "#/responses/trait:updateResponseApi:504"
                    }
                },
                "summary": "Transaction Update",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Banking / Fintech"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Base-bank-update-request"
                        }
                    }
                ],
                "security": [
                    {
                        "basic-auth": []
                    }
                ],
                "operationId": "update-bank-transaction"
            }
        },
        "/v2/risk/order/ecommerce": {
            "post": {
                "operationId": "POST_v2-risk-order-ecommerce",
                "summary": "Ecommerce Order Check",
                "tags": [
                    "Commerce"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Schema-risk-order-request-ecommerce"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Request-results"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/trait:responseApi:401"
                    },
                    "403": {
                        "$ref": "#/responses/trait:responseApi:403"
                    },
                    "404": {
                        "$ref": "#/responses/trait:responseApi:404"
                    },
                    "406": {
                        "$ref": "#/responses/trait:responseApi:406"
                    },
                    "409": {
                        "$ref": "#/responses/trait:responseApi:409"
                    },
                    "500": {
                        "$ref": "#/responses/trait:responseApi:500"
                    },
                    "502": {
                        "description": "Bad Gateway"
                    },
                    "503": {
                        "$ref": "#/responses/trait:responseApi:503"
                    },
                    "504": {
                        "$ref": "#/responses/trait:responseApi:504"
                    }
                },
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "security": [
                    {
                        "basic-auth": []
                    }
                ],
                "description": "Sends information for an eCommerce order and returns a risk score and group so that you can evaluate how to process this order.\n\neCommerce orders are for products or services that your company is selling.\n\n**Note:** The risk group definitions are set using the Fraud.net portal."
            }
        },
        "/v2/risk/order": {
            "patch": {
                "operationId": "PATCH_risk-order",
                "summary": "Order Update",
                "tags": [
                    "Commerce"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Base-update"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Base-update-result"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/trait:updateResponseApi:401"
                    },
                    "403": {
                        "$ref": "#/responses/trait:updateResponseApi:403"
                    },
                    "404": {
                        "$ref": "#/responses/trait:updateResponseApi:404"
                    },
                    "406": {
                        "$ref": "#/responses/trait:updateResponseApi:406"
                    },
                    "409": {
                        "$ref": "#/responses/trait:updateResponseApi:409"
                    },
                    "500": {
                        "$ref": "#/responses/trait:updateResponseApi:500"
                    },
                    "502": {
                        "description": "Bad Gateway"
                    },
                    "503": {
                        "$ref": "#/responses/trait:updateResponseApi:503"
                    },
                    "504": {
                        "$ref": "#/responses/trait:updateResponseApi:504"
                    }
                },
                "x-stoplight": {
                    "id": "395e4a8yfue3c",
                    "beforeScript": null,
                    "afterScript": null,
                    "public": true,
                    "mock": {
                        "enabled": false,
                        "dynamic": false,
                        "statusCode": 200
                    }
                },
                "description": "Updates information on an order's status.\n\nThe status of an order can change for several reasons:\n\n* The overall status has changed (new order, approved, fulfilled, etc.)\n* The order has been determined to be fraudulent or not\n* The order payment status has changed (authorized, paid, declined, etc.)\n\nBy updating an order's status, you provide Fraud.net with important information that will be used in determining the risk score of future orders. ",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/v2/risk/order/marketplace": {
            "post": {
                "operationId": "POST_v2-risk-order-marketplace",
                "summary": "Marketplace Order Check",
                "tags": [
                    "Commerce"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Schema-risk-order-request-marketplace"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Request-results"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/trait:responseApi:401"
                    },
                    "403": {
                        "$ref": "#/responses/trait:responseApi:403"
                    },
                    "404": {
                        "$ref": "#/responses/trait:responseApi:404"
                    },
                    "406": {
                        "$ref": "#/responses/trait:responseApi:406"
                    },
                    "409": {
                        "$ref": "#/responses/trait:responseApi:409"
                    },
                    "500": {
                        "$ref": "#/responses/trait:responseApi:500"
                    },
                    "502": {
                        "description": "Bad Gateway"
                    },
                    "503": {
                        "$ref": "#/responses/trait:responseApi:503"
                    },
                    "504": {
                        "$ref": "#/responses/trait:responseApi:504"
                    }
                },
                "x-stoplight": {
                    "id": "395e4a8yfue3d",
                    "beforeScript": null,
                    "afterScript": null,
                    "public": true,
                    "mock": {
                        "enabled": false,
                        "dynamic": false,
                        "statusCode": 200
                    }
                },
                "description": "Sends information for a marketplace order and returns a risk score and group so that you can evaluate how to process this order.\n\nMarketplace orders are for transactions where users sell to each other.\n\n**Note:** The risk group definitions are set using the Fraud.net portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/v2/risk/order/check/travel": {
            "post": {
                "operationId": "POST_travel-check",
                "summary": "Travel Order Check",
                "tags": [
                    "Commerce"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Schema-risk-order-request-travel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response to Fraud Check",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Request-results"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/trait:responseApi:401"
                    },
                    "403": {
                        "$ref": "#/responses/trait:responseApi:403"
                    },
                    "404": {
                        "$ref": "#/responses/trait:responseApi:404"
                    },
                    "406": {
                        "description": "Bad Request Format"
                    },
                    "409": {
                        "$ref": "#/responses/trait:responseApi:409"
                    },
                    "500": {
                        "$ref": "#/responses/trait:responseApi:500"
                    },
                    "502": {
                        "description": "Bad Gateway"
                    },
                    "503": {
                        "$ref": "#/responses/trait:responseApi:503"
                    },
                    "504": {
                        "$ref": "#/responses/trait:responseApi:504"
                    }
                },
                "x-stoplight": {
                    "id": "395e4a8yfue3e",
                    "beforeScript": null,
                    "afterScript": null,
                    "public": true,
                    "mock": {
                        "statusCode": 200,
                        "dynamic": false,
                        "enabled": false
                    }
                },
                "description": "Sends information for a travel order and returns a risk score and group so that you can evaluate how to process this order.\n\nTravel orders are for tickets to travel that your company is selling.\n\n**Note:** The risk group definitions are set using the Fraud.net portal.",
                "security": [
                    {
                        "basic-auth": []
                    }
                ]
            }
        },
        "/v2/risk/transaction/account_application": {
            "post": {
                "operationId": "POST_v2-transaction-account-application",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Base-update-result"
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/Shield_Oas2_Schema-application-request"
                        },
                        "x-examples": {}
                    }
                ],
                "summary": "Account Application Check",
                "tags": [
                    "Identity"
                ]
            },
            "patch": {
                "operationId": "PATCH_v2-transaction-account-application",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Base-update-result"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/trait:updateResponseApi:401"
                    },
                    "403": {
                        "$ref": "#/responses/trait:updateResponseApi:403"
                    },
                    "404": {
                        "$ref": "#/responses/trait:updateResponseApi:404"
                    },
                    "406": {
                        "$ref": "#/responses/trait:updateResponseApi:406"
                    },
                    "409": {
                        "$ref": "#/responses/trait:updateResponseApi:409"
                    },
                    "500": {
                        "$ref": "#/responses/trait:updateResponseApi:500"
                    },
                    "503": {
                        "$ref": "#/responses/trait:updateResponseApi:503"
                    },
                    "504": {
                        "$ref": "#/responses/trait:updateResponseApi:504"
                    }
                },
                "summary": "Account Application Update",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/Shield_Oas2_Application-update-request"
                        }
                    }
                ],
                "tags": [
                    "Identity"
                ]
            }
        },
        "/v2/account/login": {
            "post": {
                "operationId": "POST_v2-account-login",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Base-update-result"
                        }
                    }
                },
                "summary": "Account Login Check",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/Shield_Oas2_Schema-login-request"
                        }
                    }
                ],
                "tags": [
                    "Identity"
                ]
            }
        },
        "/v2/risk/account/loan": {
            "post": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Request-results"
                        }
                    }
                },
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Banking / Fintech"
                ],
                "summary": "Loan Application Check",
                "security": [
                    {
                        "basic-auth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Schema-risk-request-loan"
                        }
                    }
                ],
                "operationId": "POST_v2-risk-account-loan"
            },
            "patch": {
                "operationId": "PATCH_v2-risk-account-loan",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Base-update-result"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/trait:updateResponseApi:401"
                    },
                    "403": {
                        "$ref": "#/responses/trait:updateResponseApi:403"
                    },
                    "404": {
                        "$ref": "#/responses/trait:updateResponseApi:404"
                    },
                    "406": {
                        "$ref": "#/responses/trait:updateResponseApi:406"
                    },
                    "409": {
                        "$ref": "#/responses/trait:updateResponseApi:409"
                    },
                    "500": {
                        "$ref": "#/responses/trait:updateResponseApi:500"
                    },
                    "503": {
                        "$ref": "#/responses/trait:updateResponseApi:503"
                    },
                    "504": {
                        "$ref": "#/responses/trait:updateResponseApi:504"
                    }
                },
                "summary": "Loan Application Update",
                "tags": [
                    "Banking / Fintech"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Base-loan-update"
                        }
                    }
                ]
            }
        },
        "/v2/risk/transaction/banking_marketplace": {
            "post": {
                "summary": "Banking Marketplace Check",
                "operationId": "post-v2-risk-transaction-banking_marketplace",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Request-results"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/trait:responseApi:401"
                    },
                    "403": {
                        "$ref": "#/responses/trait:responseApi:403"
                    },
                    "404": {
                        "$ref": "#/responses/trait:responseApi:404"
                    },
                    "406": {
                        "$ref": "#/responses/trait:responseApi:406"
                    },
                    "500": {
                        "$ref": "#/responses/trait:responseApi:500"
                    },
                    "502": {
                        "description": "Bad Gateway"
                    },
                    "503": {
                        "$ref": "#/responses/trait:responseApi:503"
                    },
                    "504": {
                        "$ref": "#/responses/trait:responseApi:504"
                    }
                },
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Base-risk-banking_marketplace-request"
                        }
                    }
                ],
                "tags": [
                    "Banking / Fintech"
                ]
            },
            "patch": {
                "summary": "Banking Marketplace Update",
                "operationId": "patch-v2-risk-transaction-banking_marketplace",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Base-update-result"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/trait:updateResponseApi:401"
                    },
                    "403": {
                        "$ref": "#/responses/trait:updateResponseApi:403"
                    },
                    "404": {
                        "$ref": "#/responses/trait:updateResponseApi:404"
                    },
                    "406": {
                        "$ref": "#/responses/trait:updateResponseApi:406"
                    },
                    "409": {
                        "$ref": "#/responses/trait:updateResponseApi:409"
                    },
                    "500": {
                        "$ref": "#/responses/trait:updateResponseApi:500"
                    },
                    "502": {
                        "description": "Bad Gateway"
                    },
                    "503": {
                        "$ref": "#/responses/trait:updateResponseApi:503"
                    },
                    "504": {
                        "$ref": "#/responses/trait:updateResponseApi:504"
                    }
                },
                "x-stoplight": {
                    "id": "ihs0wkmbkeih5"
                },
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/Models_Oas2_Base-banking_marketplace-update-request"
                        }
                    }
                ],
                "tags": [
                    "Banking / Fintech"
                ]
            }
        }
    },
    "responses": {
        "trait:responseApi:201": {
            "description": ""
        },
        "trait:responseApi:202": {
            "description": ""
        },
        "trait:responseApi:401": {
            "description": "Unauthorized. Invalid credentials or authorization header."
        },
        "trait:responseApi:403": {
            "description": "Forbidden. You do not have authorization to make this request."
        },
        "trait:responseApi:404": {
            "description": "The specified Request-URI cannot be located. Please verify the accuracy of the URL and ensure it corresponds to an existing resource or endpoint."
        },
        "trait:responseApi:406": {
            "description": "Not Acceptable. Invalid data being passed by the request.",
            "schema": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "default": false,
                        "description": "Whether the action succeeded"
                    },
                    "code": {
                        "type": "string",
                        "description": "Error code"
                    },
                    "source": {
                        "type": "string",
                        "description": "Error source"
                    },
                    "message": {
                        "type": "string",
                        "description": "Error message"
                    }
                },
                "required": [
                    "success",
                    "code",
                    "source"
                ]
            }
        },
        "trait:responseApi:409": {
            "description": "Conflict, duplicate order_id, this order is already in our system."
        },
        "trait:responseApi:500": {
            "description": "Internal Server Error. Something went wrong on the server.",
            "schema": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "default": false,
                        "description": "Whether the action succeeded"
                    },
                    "code": {
                        "type": "string",
                        "description": "Error code"
                    },
                    "source": {
                        "type": "string",
                        "description": "Error source"
                    },
                    "message": {
                        "type": "string",
                        "default": "Internal Server Error",
                        "description": "Error message"
                    }
                },
                "required": [
                    "success",
                    "code",
                    "source"
                ]
            }
        },
        "trait:responseApi:503": {
            "description": "Service Unavailable"
        },
        "trait:responseApi:504": {
            "description": "Gateway Timeout, please try again."
        },
        "trait:updateResponseApi:401": {
            "description": "Unauthorized. Invalid credentials or authorization header."
        },
        "trait:updateResponseApi:403": {
            "description": "Forbidden. You do not have authorization to make this request."
        },
        "trait:updateResponseApi:404": {
            "description": "The target order_id does not exist in the system."
        },
        "trait:updateResponseApi:406": {
            "description": "Not Acceptable. Invalid data is being passed by the request."
        },
        "trait:updateResponseApi:409": {
            "description": "Conflict, duplicate update, unique check done via order_id and updated_on"
        },
        "trait:updateResponseApi:500": {
            "description": "Internal Server Error. Something went wrong on the server."
        },
        "trait:updateResponseApi:503": {
            "description": "Service Unavailable"
        },
        "trait:updateResponseApi:504": {
            "description": "Gateway Timeout server"
        }
    },
    "securityDefinitions": {
        "basic-auth": {
            "type": "basic",
            "description": "The Authorization field is constructed as follows:\n\n1. The username and password are combined with a single colon. (:). This means that the username itself cannot contain a colon.\n2. The resulting string is encoded into an octet sequence. The character set to use for this encoding is by default unspecified, as long as it is compatible with US-ASCII, but the server may suggest use of UTF-8 by sending the charset parameter.\n3. The resulting string is encoded using a variant of Base64.\n4. The authorization method and a space (e.g. \"Basic \") is then prepended to the encoded string.\n\nFor example, if the browser uses Aladdin as the username and OpenSesame as the password, then the field's value is the base64-encoding of Aladdin:OpenSesame, or QWxhZGRpbjpPcGVuU2VzYW1l. Then the Authorization header will appear as:\n\nAuthorization: Basic QWxhZGRpbjpPcGVuU2VzYW1l"
        }
    },
    "tags": [
        {
            "name": "Banking / Fintech"
        },
        {
            "name": "Commerce"
        },
        {
            "name": "Bank"
        },
        {
            "name": "Loan"
        },
        {
            "name": "Identity"
        }
    ],
    "security": [
        {
            "new-auth": []
        }
    ],
    "definitions": {
        "Models_Oas2_Base-bank-update-request": {
            "type": "object",
            "properties": {
                "order_id": {
                    "type": "string",
                    "description": "Your transaction_id ID"
                },
                "agent_code": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "default": null,
                    "description": "Code for an internal agent who has made changes to the order"
                },
                "agent_updated_on": {
                    "type": "string",
                    "format": "date-time"
                },
                "agent_dept": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "default": null,
                    "description": "Department of internal agent"
                },
                "event": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "default": null,
                    "description": "An event (shipped, cancelled, etc.). You define the event."
                },
                "is_fraud": {
                    "type": [
                        "boolean",
                        "null"
                    ],
                    "default": false,
                    "description": "Whether you have determined the order to be fraudulent"
                },
                "is_locked": {
                    "type": [
                        "boolean",
                        "null"
                    ],
                    "default": false,
                    "description": "Internal use"
                },
                "order_total": {
                    "type": [
                        "number",
                        "null"
                    ],
                    "description": "current order total"
                },
                "updated_on": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the order status was updated in ISO 8601 format, UTC timezone"
                },
                "status": {
                    "type": "string",
                    "enum": [
                        "new",
                        "hold",
                        "queued",
                        "approved",
                        "cancelled",
                        "fulfilled",
                        "returned",
                        "chargeback"
                    ],
                    "default": "new",
                    "description": "Status of the order"
                },
                "fraud_type": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "enum": [
                        "payment risk",
                        "policy abuse",
                        "friendly fraud",
                        "identity theft",
                        "synthetic identity",
                        "account takeover",
                        "return",
                        "refund",
                        "marketplace",
                        "non-payment",
                        "package theft",
                        "other"
                    ],
                    "description": "Fraud category"
                },
                "note": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "batch_code": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "description": "External batch code from transaction processing"
                },
                "payment": {
                    "$ref": "#/definitions/Models_Oas2_Shared_payment_update_fields"
                },
                "account": {
                    "$ref": "#/definitions/Models_Oas2_Shared_account_update_fields"
                },
                "seller": {
                    "$ref": "#/definitions/Models_Oas2_Shared_seller_update_fields"
                }
            },
            "required": [
                "order_id"
            ],
            "x-internal": false
        },
        "Models_Oas2_Base-banking_marketplace-update-request": {
            "title": "base-update-banking_marketplace",
            "x-stoplight": {
                "id": "d89nhkoof39qh"
            },
            "type": "object",
            "properties": {
                "order_id": {
                    "type": "string",
                    "x-stoplight": {
                        "id": "i5umpffkqw6cd"
                    }
                },
                "agent_code": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "bsg5xe2c2gi3c"
                    }
                },
                "batch_code": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "b4tc0de1upd8q"
                    }
                },
                "agent_updated_on": {
                    "type": "string",
                    "x-stoplight": {
                        "id": "vmdqyyxajjp3r"
                    },
                    "format": "date-time"
                },
                "agent_dept": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "qlmmyjb6nm8ni"
                    }
                },
                "event": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "20wf1ve6c3mpk"
                    }
                },
                "is_fraud": {
                    "type": [
                        "boolean",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "lc4ysk5of0szi"
                    }
                },
                "is_locked": {
                    "type": [
                        "boolean",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "6x96jwxdri5dl"
                    }
                },
                "order_total": {
                    "type": [
                        "number",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "nvyqyc64v58yb"
                    }
                },
                "updated_on": {
                    "type": "string",
                    "x-stoplight": {
                        "id": "7e3uvz2inhxbz"
                    },
                    "format": "date-time"
                },
                "status": {
                    "x-stoplight": {
                        "id": "01cv7fqmzxadb"
                    },
                    "enum": [
                        "new",
                        "hold",
                        "queued",
                        "approved",
                        "cancelled"
                    ]
                },
                "fraud_type": {
                    "x-stoplight": {
                        "id": "tds51l2v0ov6g"
                    },
                    "enum": [
                        "payment risk",
                        "policy abuse",
                        "friendly fraud",
                        "identity theft",
                        "synthetic identity"
                    ]
                },
                "note": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "rin5xzxuyzrnh"
                    }
                },
                "payment": {
                    "$ref": "#/definitions/Models_Oas2_Shared_payment_update_fields"
                },
                "account": {
                    "$ref": "#/definitions/Models_Oas2_Shared_account_update_fields"
                },
                "adj_amt": {
                    "type": [
                        "number",
                        "null"
                    ]
                },
                "transfer_date": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "date"
                }
            },
            "required": [
                "order_id"
            ]
        },
        "Models_Oas2_Base-loan-update": {
            "type": "object",
            "title": "base-loan-update",
            "x-internal": false,
            "x-stoplight": {
                "id": "00ae533926b1f"
            },
            "properties": {
                "updated_on": {
                    "type": "string",
                    "format": "date-time"
                },
                "updated_by": {
                    "type": "string"
                },
                "loan_status": {
                    "type": "string",
                    "x-nullable": true
                },
                "queue_status": {
                    "type": "string",
                    "x-nullable": true
                },
                "is_fraud": {
                    "type": "boolean"
                },
                "fraud_type": {
                    "type": "string"
                },
                "refuse_reason": {
                    "type": "string"
                },
                "cancelled_reason": {
                    "type": "string"
                },
                "approved_amount": {
                    "type": "number",
                    "x-stoplight": {
                        "id": "kkzna8gbjqiim"
                    },
                    "description": "The amount of funds approved for this lease"
                },
                "payment_status": {
                    "type": "string"
                },
                "terms_months_count": {
                    "type": "integer"
                },
                "last_payment_on": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "date-time"
                },
                "count_missed_payments": {
                    "type": "integer"
                },
                "order_id": {
                    "type": "string",
                    "description": "application_id"
                },
                "created_on": {
                    "type": "string",
                    "format": "date-time"
                },
                "created_by": {
                    "type": "string",
                    "x-nullable": true
                },
                "queue_expires_on": {
                    "type": "string",
                    "format": "date-time",
                    "x-nullable": true
                },
                "merchant_id": {
                    "type": "integer"
                },
                "account_id": {
                    "type": "string",
                    "x-nullable": true
                },
                "ordered_on": {
                    "type": "string",
                    "x-nullable": true
                },
                "status": {
                    "type": "string",
                    "enum": [
                        "new",
                        "hold",
                        "queued",
                        "approved",
                        "cancelled"
                    ]
                },
                "status_history": {
                    "type": "string",
                    "x-nullable": true
                },
                "amount_paid": {
                    "type": "number"
                },
                "loan_balance": {
                    "type": "number"
                },
                "minimum_due": {
                    "type": "number"
                },
                "fees": {
                    "type": "number"
                },
                "principal": {
                    "type": "number"
                },
                "late_payment_count": {
                    "type": "integer"
                },
                "adjusted_on": {
                    "type": "string",
                    "format": "date-time"
                },
                "selected_expiration_action": {
                    "type": "string"
                },
                "is_locked": {
                    "type": "boolean"
                },
                "lock_changed_on": {
                    "type": "string",
                    "format": "date-time"
                },
                "lock_changed_by": {
                    "type": "string"
                },
                "application_id": {
                    "type": "string"
                },
                "cancelled_reasons": {
                    "type": "string"
                },
                "funded_on": {
                    "type": "string",
                    "x-stoplight": {
                        "id": "i9uxytvyvvppz"
                    },
                    "format": "date-time",
                    "description": "Funding Timestamp"
                },
                "total_amount_all": {
                    "type": "integer",
                    "x-stoplight": {
                        "id": "r7gbdpg0jvn5u"
                    },
                    "description": "Renewal Payments Count"
                },
                "is_booked": {
                    "type": "boolean",
                    "x-stoplight": {
                        "id": "ya9oowqqbi9ly"
                    },
                    "description": "Is booked"
                },
                "is_payment_default": {
                    "type": "boolean",
                    "x-stoplight": {
                        "id": "t34n7qwmpxgck"
                    },
                    "description": "Default status"
                },
                "payments_count": {
                    "type": "integer",
                    "x-stoplight": {
                        "id": "39u2b39qog92j"
                    },
                    "description": "Number of payments made"
                },
                "total_principal_paid": {
                    "type": "number",
                    "x-stoplight": {
                        "id": "3rmrx1mk4p6me"
                    },
                    "description": "Total Principal Paid"
                },
                "total_fees_paid": {
                    "type": "number",
                    "x-stoplight": {
                        "id": "o4e64cirhmb4p"
                    },
                    "description": "Total Fees Paid"
                },
                "expected_total": {
                    "type": "number",
                    "x-stoplight": {
                        "id": "c0rni16d71w3l"
                    },
                    "description": "Expected Final Amount Paid"
                },
                "closed_on": {
                    "type": "string",
                    "x-stoplight": {
                        "id": "4e36vuklz3dw2"
                    },
                    "description": "Closing Date",
                    "format": "date-time"
                },
                "is_closed": {
                    "type": "boolean",
                    "x-stoplight": {
                        "id": "c9u6260qlq8lz"
                    }
                },
                "is_fpd": {
                    "type": "boolean",
                    "x-stoplight": {
                        "id": "956va5ff53wh2"
                    },
                    "description": "Is First Payment Default"
                },
                "repayment_total": {
                    "type": [
                        "number",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "kxk1pxnrofeyt"
                    },
                    "description": "Full-term lease repayment amount"
                }
            },
            "required": [
                "order_id"
            ]
        },
        "Models_Oas2_Base-order-result-tags": {
            "title": "base-order-result-tags",
            "type": "object",
            "x-stoplight": {
                "id": "base-order-result-tags",
                "name": "base-order-result-tags",
                "public": true
            },
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Unique ID of your tag"
                },
                "action": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "name": {
                    "type": "string",
                    "description": "Name of your tag"
                },
                "source": {
                    "type": "string",
                    "description": "Source of your tag",
                    "enum": [
                        "rule",
                        "label"
                    ]
                },
                "type": {
                    "type": "string",
                    "description": "Action that you would like your tag to have associated.  'label' will simply tag your order, while 'queue' will cause the order to be placed in a queue for later retrieval and review.",
                    "enum": [
                        "label",
                        "queue",
                        "workflow"
                    ]
                },
                "state": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "weight": {
                    "type": [
                        "integer",
                        "null"
                    ],
                    "description": "Grants one tag greater importance and priority than another, on a scale of 0.0 (low priority) to 10.0 (high priority)."
                },
                "risk_score": {
                    "type": [
                        "integer",
                        "null"
                    ]
                },
                "risk_group": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "enum": [
                        "very low",
                        "low",
                        "medium",
                        "high",
                        "very high"
                    ]
                },
                "link": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "description": "Links to another order_id."
                }
            },
            "x-internal": false
        },
        "Models_Oas2_Base-risk-banking_marketplace-request": {
            "title": "base-risk-banking_marketplace-request",
            "x-stoplight": {
                "id": "mrufhf1fjzoar"
            },
            "type": "object",
            "properties": {
                "account": {
                    "$ref": "#/definitions/Models_Oas2_Request-account-banking_marketplace"
                },
                "customer": {
                    "x-stoplight": {
                        "id": "roirl9n0muiki"
                    },
                    "allOf": [
                        {
                            "$ref": "#/definitions/Models_Oas2_Request-address"
                        },
                        {
                            "type": "object",
                            "x-stoplight": {
                                "id": "dbc54t0jnfn0b"
                            },
                            "properties": {
                                "id": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "x-stoplight": {
                                        "id": "34lsu41ge8md5"
                                    },
                                    "description": "Unique identifier of the customer"
                                },
                                "phone_2": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "x-stoplight": {
                                        "id": "37nk47xi7nsd4"
                                    },
                                    "description": "Work phone number of the customer"
                                },
                                "phone_3": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "x-stoplight": {
                                        "id": "1f8dyepdpyau2"
                                    },
                                    "description": "Mobile phone number of the customer"
                                },
                                "started_on": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "x-stoplight": {
                                        "id": "awvkm1u85f0u7"
                                    },
                                    "format": "date-time",
                                    "description": "Date the customer started relationship with merchant"
                                },
                                "type": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "x-stoplight": {
                                        "id": "rryrpzeyrnmme"
                                    },
                                    "description": "Merchant specific categorization of customer type"
                                },
                                "dob": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "x-stoplight": {
                                        "id": "e9tkmjv42200x"
                                    },
                                    "format": "date",
                                    "description": "The date of birth of the customer"
                                },
                                "annual_income": {
                                    "type": [
                                        "number",
                                        "null"
                                    ],
                                    "x-stoplight": {
                                        "id": "gwvxj1mp83msf"
                                    }
                                },
                                "email_change_on": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "x-stoplight": {
                                        "id": "mmp8v2lzhvgf7"
                                    },
                                    "format": "date-time",
                                    "description": "Date and time of last email address change by the customer"
                                },
                                "address_change_on": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "x-stoplight": {
                                        "id": "i95kn58wjc2lh"
                                    },
                                    "format": "date-time",
                                    "description": "Date and time of last address change by the customer"
                                },
                                "password_change_on": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "x-stoplight": {
                                        "id": "3rmvv4vyqb8bz"
                                    },
                                    "format": "date-time",
                                    "description": "Date and time of last password change by the customer"
                                },
                                "phone_change_on": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "x-stoplight": {
                                        "id": "y15v7fdab4szz"
                                    },
                                    "description": "Date and time of last phone number change by the customer",
                                    "format": "date-time"
                                }
                            },
                            "required": [
                                "id"
                            ]
                        }
                    ]
                },
                "payment": {
                    "$ref": "#/definitions/Models_Oas2_Request-payment-banking_marketplace"
                },
                "partner": {
                    "$ref": "#/definitions/Models_Oas2_Request-partner"
                },
                "transaction": {
                    "$ref": "#/definitions/Models_Oas2_Request-transaction-banking_marketplace"
                },
                "device": {
                    "$ref": "#/definitions/Models_Oas2_Risk-order-request-device"
                },
                "ib": {
                    "$ref": "#/definitions/Models_Oas2_Request-intermediary_bank"
                },
                "cp": {
                    "$ref": "#/definitions/Models_Oas2_Request-counterparty_bank"
                }
            }
        },
        "Models_Oas2_Base-risk-order-request": {
            "title": "base-risk-order-request",
            "type": "object",
            "x-stoplight": {
                "id": "base-risk-order-request",
                "name": "base-risk-order-request",
                "public": true
            },
            "properties": {
                "billing": {
                    "$ref": "#/definitions/Models_Oas2_Request-address"
                },
                "campaign": {
                    "$ref": "#/definitions/Models_Oas2_Request-campaign"
                },
                "delivery": {
                    "$ref": "#/definitions/Models_Oas2_Request-delivery"
                },
                "device": {
                    "$ref": "#/definitions/Models_Oas2_Risk-order-request-device"
                },
                "payment": {
                    "$ref": "#/definitions/Models_Oas2_Request-payment"
                },
                "promotions": {
                    "$ref": "#/definitions/Models_Oas2_Request-promotions"
                },
                "shipping": {
                    "$ref": "#/definitions/Models_Oas2_Request-address"
                },
                "transaction": {
                    "$ref": "#/definitions/Models_Oas2_Request-order-transaction"
                }
            },
            "x-internal": false
        },
        "Models_Oas2_Base-update": {
            "title": "base-update-request",
            "allOf": [
                {
                    "type": "object",
                    "properties": {
                        "note": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "description": "Note about the update"
                        },
                        "agent_updated_on": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the internal agent updated the order status in ISO 8601 format, UTC timezone"
                        }
                    },
                    "required": [
                        "agent_updated_on"
                    ]
                },
                {
                    "$ref": "#/definitions/Models_Oas2_Shared_check_update_fields"
                }
            ],
            "example": {
                "agent_updated_on": "2783-05-31T09:44:58.516Z",
                "order_id": "in nos",
                "status": "returned",
                "agent_dept": null,
                "payment_status": "defaulted",
                "event": null,
                "is_fraud_cancel": false
            },
            "x-stoplight": {
                "id": "base-update",
                "name": "base-update-request",
                "public": true
            },
            "x-internal": false
        },
        "Models_Oas2_Base-update-result": {
            "title": "base-update-result",
            "type": "object",
            "x-stoplight": {
                "id": "base-update-result",
                "name": "base-update-result",
                "public": true
            },
            "properties": {
                "success": {
                    "type": "boolean",
                    "description": "Whether the update was successful"
                },
                "data": {
                    "type": "object",
                    "properties": {
                        "link": {
                            "type": "string",
                            "format": "uri"
                        },
                        "timer": {
                            "type": "number"
                        }
                    }
                }
            },
            "x-internal": false
        },
        "Models_Oas2_Model-device-request": {
            "title": "model-device-request",
            "x-stoplight": {
                "id": "2sxgbpyencpme"
            },
            "type": "object",
            "properties": {
                "fingerprint_id": {
                    "type": "string"
                },
                "data": {
                    "type": "string"
                },
                "ip_address": {
                    "type": "string"
                },
                "user_agent": {
                    "type": "string"
                },
                "ip_type": {
                    "type": "string",
                    "x-nullable": true
                }
            }
        },
        "Models_Oas2_Model-request-travel_carrier": {
            "title": "model-request-travel_carrier",
            "type": "object",
            "properties": {
                "code": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "description": "Universally recognized carrier code"
                },
                "name": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "description": "Carrier name",
                    "example": "Turimex Internacional"
                },
                "number": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "description": "Carrier number",
                    "example": "1384074"
                }
            },
            "required": [
                "code"
            ],
            "x-stoplight": {
                "id": "model-request-travel_carrier",
                "name": "model-request-travel_carrier",
                "public": true
            },
            "x-internal": false
        },
        "Models_Oas2_Model-request-travel_hub": {
            "title": "model-request-travel_hub",
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "Hub code"
                },
                "name": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "description": "Hub name",
                    "example": "Los Angeles International Airport",
                    "default": null
                },
                "address": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "city_region": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "description": "Hub region or city",
                    "example": "Los Angeles",
                    "default": null
                },
                "country": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "description": "Hub country in ISO 3166-1 alpha-2 format",
                    "maxLength": 2,
                    "default": null
                },
                "geo": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "description": "Geo code of hub ",
                    "example": "34.0165930,-118.1582280",
                    "default": null
                }
            },
            "required": [
                "code"
            ],
            "x-stoplight": {
                "id": "model-request-travel_hub",
                "name": "model-request-travel_hub",
                "public": true
            },
            "x-internal": false
        },
        "Models_Oas2_Request-account": {
            "allOf": [
                {
                    "type": "object",
                    "properties": {
                        "account_id": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "description": "Account number used for transaction"
                        },
                        "current_balance": {
                            "type": [
                                "number",
                                "null"
                            ],
                            "description": "Account balance at the time of current transaction"
                        },
                        "days_late": {
                            "type": [
                                "integer",
                                "null"
                            ]
                        },
                        "due_on": {
                            "format": "date-time",
                            "type": [
                                "string",
                                "null"
                            ],
                            "description": "Date the next account payment is due by"
                        },
                        "inc_country": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "maxLength": 2,
                            "description": "Country the [business] account was incorporated"
                        },
                        "inc_on": {
                            "format": "date-time",
                            "type": [
                                "string",
                                "null"
                            ],
                            "description": "Date the [business] account was incorporated on"
                        },
                        "inc_region": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "description": "Region or State the [business] account was incorporated on"
                        },
                        "label": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "description": "Merchant Specific name of the type of account. "
                        },
                        "last_balance": {
                            "type": [
                                "number",
                                "null"
                            ],
                            "description": "Account balance as of last statement"
                        },
                        "last_login": {
                            "format": "date-time",
                            "type": [
                                "string",
                                "null"
                            ],
                            "description": "Date of the last account login"
                        },
                        "last_min_due": {
                            "type": [
                                "number",
                                "null"
                            ],
                            "description": "The minimum amount due on last account statement"
                        },
                        "last_payment_amt": {
                            "type": [
                                "number",
                                "null"
                            ],
                            "description": "The last payment amount for the account"
                        },
                        "last_payment_on": {
                            "format": "date-time",
                            "type": [
                                "string",
                                "null"
                            ],
                            "description": "The date of the last account payment"
                        },
                        "last_statement_on": {
                            "type": [
                                "null",
                                "string"
                            ],
                            "format": "date-time",
                            "description": "The date of the last account statement"
                        },
                        "min_due": {
                            "type": [
                                "number",
                                "null"
                            ],
                            "description": "Minimum amount due on account at the time of current transaction"
                        },
                        "opened_on": {
                            "format": "date-time",
                            "type": [
                                "string",
                                "null"
                            ],
                            "description": "UTC date and time the transaction placed. "
                        },
                        "tax_id": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "description": "Accounts's tax identification number. "
                        },
                        "type": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "description": "Categorization of the account type. "
                        },
                        "unbilled_charges": {
                            "type": [
                                "number",
                                "null"
                            ],
                            "description": "Fees on account that have not been paid"
                        },
                        "exposure_amt": {
                            "type": [
                                "number",
                                "null"
                            ],
                            "description": "The total exposure of the account"
                        }
                    },
                    "required": [
                        "account_id"
                    ]
                },
                {
                    "$ref": "#/definitions/Models_Oas2_Shared_account_update_fields"
                }
            ],
            "title": "request-account",
            "x-internal": false
        },
        "Models_Oas2_Request-account-banking_marketplace": {
            "title": "request-account-banking_marketplace",
            "x-stoplight": {
                "id": "m7vilmy7cox47"
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Models_Oas2_Request-account"
                },
                {
                    "type": "object",
                    "x-stoplight": {
                        "id": "ilk1b5y0woeox"
                    },
                    "properties": {
                        "bank_code": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "x-stoplight": {
                                "id": "2fqjpu7dkkfoc"
                            },
                            "description": "The Bank Code of the correspondent bank"
                        },
                        "bank_code_type": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "x-stoplight": {
                                "id": "ohnkh4b24cp6u"
                            },
                            "description": "BIC, IBAN, Routing Number, SWIFT Code, custom"
                        }
                    }
                }
            ]
        },
        "Models_Oas2_Request-address": {
            "title": "request-address",
            "type": "object",
            "example": {
                "address1": "culpa laborum in do",
                "address2": "proident",
                "company": null,
                "city": "incidid",
                "region": "occaecat proident tempor cupidatat",
                "postal_code": "aute adipisicing exercitation",
                "country": null,
                "email": "Sven_Sawayn82@gmail.com",
                "phone": "nostrud labore",
                "last_name": "minim laboris"
            },
            "x-stoplight": {
                "id": "request-address",
                "name": "request-address",
                "public": true
            },
            "properties": {
                "address1": {
                    "default": null,
                    "description": "Building number and street address",
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "address2": {
                    "default": null,
                    "description": "Apartment/suite/unit number",
                    "example": "apt 1a",
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "city": {
                    "default": "",
                    "description": "Address city",
                    "type": "string"
                },
                "company": {
                    "default": null,
                    "description": "Company name, for business addresses",
                    "example": "Acme Inc",
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "country": {
                    "default": null,
                    "description": "Two-digit country code , according to ISO 3166-1 alpha 2",
                    "maxLength": 2,
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "email": {
                    "default": null,
                    "description": "Email address",
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "first_name": {
                    "default": null,
                    "description": "Customer first name",
                    "example": "John",
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "last_name": {
                    "default": null,
                    "description": "Customer last name",
                    "example": "Smith",
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "phone": {
                    "default": null,
                    "description": "Phone number. If the phone provided is in not a US number, precede the number with country and city codes.",
                    "example": "212-289-1293",
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "postal_code": {
                    "default": "",
                    "description": "Zip or postal code",
                    "type": "string"
                },
                "region": {
                    "default": null,
                    "description": "Two-digit state or province code, according to ISO 3166-1 alpha 2",
                    "example": "NY",
                    "type": [
                        "string",
                        "null"
                    ]
                }
            },
            "x-internal": false
        },
        "Models_Oas2_Request-application": {
            "type": "object",
            "x-internal": false,
            "properties": {
                "application_id": {
                    "type": "string"
                },
                "created_on": {
                    "type": "string",
                    "format": "date-time"
                },
                "status": {
                    "type": "string",
                    "enum": [
                        "new",
                        "hold",
                        "queued",
                        "approved",
                        "cancelled",
                        "fulfilled",
                        "returned"
                    ],
                    "description": "Fraud.net's application status (usually new, queued, approved, cancelled, or fulfilled)"
                },
                "event": {
                    "type": "string"
                },
                "source": {
                    "type": "string"
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "loan",
                        "account"
                    ]
                },
                "created_by": {
                    "type": "string"
                }
            },
            "required": [
                "application_id",
                "created_on",
                "type"
            ]
        },
        "Models_Oas2_Request-campaign": {
            "type": "object",
            "title": "request-campaign",
            "properties": {
                "source": {
                    "type": "string",
                    "example": "google",
                    "description": "Used to identify a search engine, newsletter name, or other source."
                },
                "medium": {
                    "type": "string",
                    "description": "Used to identify a medium such as email or cost-per-click.",
                    "example": "cpc"
                },
                "name": {
                    "type": "string",
                    "description": "Used for keyword analysis. Used to identify a specific product promotion or strategic campaign.",
                    "example": "spring_sale"
                },
                "term": {
                    "type": "string",
                    "description": "Used for paid search. Used to note the keywords for this ad.",
                    "example": "running+shoes"
                },
                "content": {
                    "type": "string",
                    "description": "Used for A/B testing and content-targeted ads. Use utm_content to differentiate ads or links that point to the same URL.",
                    "example": "logolink or textlink"
                }
            },
            "x-internal": false
        },
        "Models_Oas2_Request-counterparty_bank": {
            "title": "request-counterparty_bank",
            "x-stoplight": {
                "id": "e358ujwzyb5wi"
            },
            "type": "object",
            "properties": {
                "id": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "iuzjqv72p3kfa"
                    },
                    "description": "Counterparty's identification number."
                },
                "address1": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "q0082mvi7nm19"
                    },
                    "description": "Address 1 of the counterparty."
                },
                "address2": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "vp8ez0vs0fpjd"
                    },
                    "description": "Address 2 of the counterparty."
                },
                "city": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "a7i6p41wlox0b"
                    },
                    "description": "City of the counterparty."
                },
                "country": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "0iwprtgy0t2l5"
                    },
                    "description": "Country of the counterparty."
                },
                "mcc_id": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "sl6vqglzshhps"
                    },
                    "description": "Merchant category code."
                },
                "name": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "wh83wk1q9t1ff"
                    },
                    "description": "Counterparty's Name."
                },
                "phone": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "5j26v85iat28h"
                    },
                    "description": "Phone of the counterparty."
                },
                "postal_code": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "lzwohgcovinns"
                    },
                    "description": "Phone of the counterparty."
                },
                "region": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "wnf3n02zszkzw"
                    },
                    "description": "State or Province of the counterparty."
                },
                "tax_id": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "0ulymj4v4zvui"
                    },
                    "description": "Counterparty's tax identification number."
                },
                "account_type": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "cuchk6uulc25j"
                    },
                    "description": "Account category of counterparty"
                },
                "company": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "q7h8nhgdecf3f"
                    },
                    "description": "Name of counterparty companay"
                },
                "email": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "velx37cfvan9a"
                    },
                    "description": "Counterparty's primary email"
                },
                "industry": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "mgnhb1mo501nl"
                    },
                    "description": "Industry in which the counterparty operates"
                },
                "sector": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "lhhmtbp1q4okj"
                    },
                    "description": "Sector in which the counterparty specializes"
                },
                "account_number": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "51wkp963oxg7f"
                    },
                    "description": "The account number of the account  at the counterparty bank"
                },
                "bank_code": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "68bm766zirws4"
                    },
                    "description": "The Bank Code of the correspondent bank"
                },
                "bank_code_type": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "63e7d90v0ngpj"
                    },
                    "description": "BIC, IBAN, Routing Number, SWIFT Code, custom"
                },
                "bank_name": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "2e359pkaykbtd"
                    },
                    "description": "The name of the counterparty bank"
                },
                "bank_address": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "obmriib2orxk0"
                    },
                    "description": "The street name of the counterparty bank"
                },
                "bank_city": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "tkluvz74057xl"
                    },
                    "description": "The city or town of the counterparty bank"
                },
                "bank_postal_code": {
                    "type": "string",
                    "x-stoplight": {
                        "id": "yderkqe7phq09"
                    },
                    "description": "The postal code of the counterparty bank"
                },
                "bank_region": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "j4jzff9ph9475"
                    },
                    "description": "The region or state of the counterparty bank"
                },
                "bank_country": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "jliy3bs7m7ln4"
                    },
                    "description": "The country of the counterparty bank"
                }
            }
        },
        "Models_Oas2_Request-credit-score": {
            "title": "request-credit-score",
            "x-stoplight": {
                "id": "9zvxzn4nu6np7"
            },
            "type": "object",
            "properties": {
                "transunion": {
                    "type": "object",
                    "properties": {
                        "score": {
                            "type": "number"
                        }
                    }
                },
                "equifax": {
                    "type": "object",
                    "properties": {
                        "score": {
                            "type": "number"
                        }
                    }
                },
                "experian": {
                    "type": "object",
                    "properties": {
                        "score": {
                            "type": "number"
                        }
                    }
                }
            }
        },
        "Models_Oas2_Request-delivery": {
            "title": "request-delivery",
            "type": "object",
            "properties": {
                "courier": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "FedEx",
                    "default": null,
                    "description": "Courier used for delivery"
                },
                "method": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "Ground",
                    "default": null,
                    "description": "Type of delivery"
                },
                "weight": {
                    "type": [
                        "null",
                        "number"
                    ],
                    "example": 9.02,
                    "description": "Weight, in lbs. If you would prefer to provide weight in kilograms, please contact your account representative.",
                    "default": null
                }
            },
            "x-stoplight": {
                "id": "request-delivery",
                "name": "request-delivery",
                "public": true
            },
            "x-internal": false
        },
        "Models_Oas2_Request-identity": {
            "title": "request-identity",
            "type": "object",
            "properties": {
                "country": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "description": "National ID of the applicant, such as social security number",
                    "example": "63431483"
                },
                "region": {
                    "type": "string"
                },
                "type": {
                    "type": "string",
                    "description": "The type of national ID of the applicant",
                    "enum": [
                        "social_security",
                        "national_id",
                        "itin",
                        "drivers_license",
                        "tax_id",
                        "regional_id",
                        "passport"
                    ]
                }
            }
        },
        "Models_Oas2_Request-intermediary_bank": {
            "title": "request-intermediary_bank",
            "x-stoplight": {
                "id": "d8swa267pvzwp"
            },
            "type": "object",
            "properties": {
                "id": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "g943dio0cq0dr"
                    },
                    "description": "Unique internal identifier of the intermediary Bank"
                },
                "code": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "j048xsduvormd"
                    },
                    "description": "The Bank Code of the correspondent bank"
                },
                "code_type": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "lffga3i8zaxcl"
                    },
                    "description": "BIC, IBAN, Routing Number, SWIFT Code, custom"
                },
                "name": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "kptzfauqrruvh"
                    },
                    "description": "The name of the correspondent bank"
                },
                "address": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "8495sof9htor7"
                    },
                    "description": "The street name of the correspondent bank"
                },
                "city": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "aotwjlzboxamr"
                    },
                    "description": "The city or town of the correspondent bank"
                },
                "postal_code": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "4d6ayj5y1j6qi"
                    },
                    "description": "The postal code of the correspondent bank"
                },
                "region": {
                    "type": "string",
                    "x-stoplight": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "id": "asf3to9swfw7b"
                    },
                    "description": "The region of the correspondent bank"
                },
                "country": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "x-stoplight": {
                        "id": "mvo50l3x1ibop"
                    },
[...]
