openapi: 3.2.0
info:
  version: '1.0'
  title: Reference Banking / Fintech API
  description: 'The API Reference material consists of four sections:


    - **Lists.** For blacklists, whitelists, and watch lists. Not fully documented yet.

    - **Update.** For updating cart and order status

    - **Check.** For checking the fraud score of a cart or order.

    - **Models.** Descriptions of JSON request body data.'
  contact:
    url: https://support.fraud.net/
servers:
- url: https://api-sandbox.c008-m008-us.fraud.net
security:
- new-auth: []
tags:
- name: Banking / Fintech
paths:
  /v2/risk/transaction/bank:
    post:
      operationId: check-transaction-bank
      summary: Transaction Check
      tags:
      - Banking / Fintech
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: models.oas2.json#/definitions/request-results
        '401':
          $ref: '#/components/responses/trait_responseApi_401'
        '403':
          $ref: '#/components/responses/trait_responseApi_403'
        '404':
          $ref: '#/components/responses/trait_responseApi_404'
        '406':
          $ref: '#/components/responses/trait_responseApi_406'
        '409':
          $ref: '#/components/responses/trait_responseApi_409'
        '500':
          $ref: '#/components/responses/trait_responseApi_500'
        '502':
          description: Bad Gateway
        '503':
          $ref: '#/components/responses/trait_responseApi_503'
        '504':
          $ref: '#/components/responses/trait_responseApi_504'
      x-stoplight:
        id: 395e4a8yfue3b
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
      description: 'Sends information for a bank transaction and returns a risk score and group so that you can evaluate how to process this transaction.


        **Note:** The risk group definitions are set using the Fraud.net portal.'
      security:
      - basic-auth: []
      x-internal: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: models.oas2.json#/definitions/schema-risk-transaction-request-bank
        description: ' '
    patch:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: models.oas2.json#/definitions/base-update-result
        '401':
          $ref: '#/components/responses/trait_updateResponseApi_401'
        '403':
          $ref: '#/components/responses/trait_updateResponseApi_403'
        '404':
          $ref: '#/components/responses/trait_updateResponseApi_404'
        '406':
          $ref: '#/components/responses/trait_updateResponseApi_406'
        '409':
          $ref: '#/components/responses/trait_updateResponseApi_409'
        '500':
          $ref: '#/components/responses/trait_updateResponseApi_500'
        '502':
          description: Bad Gateway
        '503':
          $ref: '#/components/responses/trait_updateResponseApi_503'
        '504':
          $ref: '#/components/responses/trait_updateResponseApi_504'
      summary: Transaction Update
      tags:
      - Banking / Fintech
      security:
      - basic-auth: []
      operationId: update-bank-transaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: models.oas2.json#/definitions/base-bank-update-request
  /v2/risk/account/loan:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: models.oas2.json#/definitions/request-results
      tags:
      - Banking / Fintech
      summary: Loan Application Check
      security:
      - basic-auth: []
      operationId: POST_v2-risk-account-loan
      requestBody:
        content:
          application/json:
            schema:
              $ref: models.oas2.json#/definitions/schema-risk-request-loan
    patch:
      operationId: PATCH_v2-risk-account-loan
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: models.oas2.json#/definitions/base-update-result
        '401':
          $ref: '#/components/responses/trait_updateResponseApi_401'
        '403':
          $ref: '#/components/responses/trait_updateResponseApi_403'
        '404':
          $ref: '#/components/responses/trait_updateResponseApi_404'
        '406':
          $ref: '#/components/responses/trait_updateResponseApi_406'
        '409':
          $ref: '#/components/responses/trait_updateResponseApi_409'
        '500':
          $ref: '#/components/responses/trait_updateResponseApi_500'
        '503':
          $ref: '#/components/responses/trait_updateResponseApi_503'
        '504':
          $ref: '#/components/responses/trait_updateResponseApi_504'
      summary: Loan Application Update
      tags:
      - Banking / Fintech
      requestBody:
        content:
          application/json:
            schema:
              $ref: models.oas2.json#/definitions/base-loan-update
  /v2/risk/transaction/banking_marketplace:
    post:
      summary: Banking Marketplace Check
      operationId: post-v2-risk-transaction-banking_marketplace
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: models.oas2.json#/definitions/request-results
        '401':
          $ref: '#/components/responses/trait_responseApi_401'
        '403':
          $ref: '#/components/responses/trait_responseApi_403'
        '404':
          $ref: '#/components/responses/trait_responseApi_404'
        '406':
          $ref: '#/components/responses/trait_responseApi_406'
        '500':
          $ref: '#/components/responses/trait_responseApi_500'
        '502':
          description: Bad Gateway
        '503':
          $ref: '#/components/responses/trait_responseApi_503'
        '504':
          $ref: '#/components/responses/trait_responseApi_504'
      tags:
      - Banking / Fintech
      requestBody:
        content:
          application/json:
            schema:
              $ref: models.oas2.json#/definitions/schema-risk-order-request-banking_marketplace
    patch:
      summary: Banking Marketplace Update
      operationId: patch-v2-risk-transaction-banking_marketplace
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: models.oas2.json#/definitions/base-update-result
        '401':
          $ref: '#/components/responses/trait_updateResponseApi_401'
        '403':
          $ref: '#/components/responses/trait_updateResponseApi_403'
        '404':
          $ref: '#/components/responses/trait_updateResponseApi_404'
        '406':
          $ref: '#/components/responses/trait_updateResponseApi_406'
        '409':
          $ref: '#/components/responses/trait_updateResponseApi_409'
        '500':
          $ref: '#/components/responses/trait_updateResponseApi_500'
        '502':
          description: Bad Gateway
        '503':
          $ref: '#/components/responses/trait_updateResponseApi_503'
        '504':
          $ref: '#/components/responses/trait_updateResponseApi_504'
      x-stoplight:
        id: ihs0wkmbkeih5
      tags:
      - Banking / Fintech
      requestBody:
        content:
          application/json:
            schema:
              $ref: models.oas2.json#/definitions/base-banking_marketplace-update-request
components:
  responses:
    trait_updateResponseApi_504:
      description: Gateway Timeout server
    trait_responseApi_401:
      description: Unauthorized. Invalid credentials or authorization header.
    trait_responseApi_406:
      description: Not Acceptable. Invalid data being passed by the request.
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                default: false
                description: Whether the action succeeded
              code:
                type: string
                description: Error code
              source:
                type: string
                description: Error source
              message:
                type: string
                description: Error message
            required:
            - success
            - code
            - source
    trait_updateResponseApi_401:
      description: Unauthorized. Invalid credentials or authorization header.
    trait_updateResponseApi_409:
      description: Conflict, duplicate update, unique check done via order_id and updated_on
    trait_responseApi_504:
      description: Gateway Timeout, please try again.
    trait_responseApi_500:
      description: Internal Server Error. Something went wrong on the server.
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                default: false
                description: Whether the action succeeded
              code:
                type: string
                description: Error code
              source:
                type: string
                description: Error source
              message:
                type: string
                default: Internal Server Error
                description: Error message
            required:
            - success
            - code
            - source
    trait_updateResponseApi_404:
      description: The target order_id does not exist in the system.
    trait_responseApi_409:
      description: Conflict, duplicate order_id, this order is already in our system.
    trait_updateResponseApi_406:
      description: Not Acceptable. Invalid data is being passed by the request.
    trait_updateResponseApi_403:
      description: Forbidden. You do not have authorization to make this request.
    trait_responseApi_403:
      description: Forbidden. You do not have authorization to make this request.
    trait_updateResponseApi_503:
      description: Service Unavailable
    trait_responseApi_503:
      description: Service Unavailable
    trait_updateResponseApi_500:
      description: Internal Server Error. Something went wrong on the server.
    trait_responseApi_404:
      description: The specified Request-URI cannot be located. Please verify the accuracy of the URL and ensure it corresponds to an existing resource or endpoint.
  securitySchemes:
    basic-auth:
      type: http
      scheme: basic
      description: 'The Authorization field is constructed as follows:


        1. The username and password are combined with a single colon. (:). This means that the username itself cannot contain a colon.

        2. The resulting string is encoded into an octet sequence. The character set to use for this encoding is by default unspecified, as long as it is compatible with US-ASCII, but the server may suggest use of UTF-8 by sending the charset parameter.

        3. The resulting string is encoded using a variant of Base64.

        4. The authorization method and a space (e.g. "Basic ") is then prepended to the encoded string.


        For example, if the browser uses Aladdin as the username and OpenSesame as the password, then the field''s value is the base64-encoding of Aladdin:OpenSesame, or QWxhZGRpbjpPcGVuU2VzYW1l. Then the Authorization header will appear as:


        Authorization: Basic QWxhZGRpbjpPcGVuU2VzYW1l'
